$white: #FFFFFF;
$black: #0F0F17;
$gradient: linear-gradient(180deg, #FB8627 0%, #F5BEF6 100%);

$h1_size: 40px;
$h2_size: 24px;
$h3_size: 20px;
$h4_size: 16px;
$text_size: 16px;
$link_size: 16px;
$caption_size: 12px;

$duration: 0.3s;

$text_regular: 400;
$text_medium: 500;
$text_semibold: 600;
