@use '@/scss/variables.scss' as *;

.menuLink {
    font-size: $text_size;
    font-weight: $text_regular;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;

    transition: all $duration ease;

    img {
        transition: all $duration ease;
        transform: rotate(0deg);
    }

    &:hover {
        img {
            transition: all $duration ease;
            transform: rotate(90deg);
        }
    }
}